body {
	border: none;
	margin: 0px;
	padding: 0px;
	font-size: 0px;
	font-family: rubik;
	background-color: #420420;
}
nav {
	border: none;
	margin: 0px;
	padding: 0px;
	font-size: 0px;
	background-color: #696969;
	color: #ABCDEF;
}
