@import url("https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap");
*::selection {
  content: "";
  color: #000000;
  background-color: #ffffff;
  text-decoration: underline;
}
*::-webkit-scrollbar {
  display: none;
}
body {
  margin: 0;
  border: 0;
  padding: 0;
  background-color: #444444;
  font-size: 0;
  font-family: Smooth Sans;
  max-width: 100vw;
  height: fit-content;
  overflow: scroll;
}
button:hover {
  cursor: pointer;
}
.l {
  float: left;
}
.r {
  float: right;
}
nav {
  background-color: #222222;
  color: #dddddd;
  display: flex;
  position: fixed;
  top: 0;
  align-items: center;
  flex-direction: row;
  height: 5vw;
  padding: 0.5vw;
  z-index: 1002;
}
nav div {
  margin: 0 1vw 0 0;
}
#Logo {
  width: auto;
  height: 5vw;
}
#LogoContainer {
  background-color: transparent;
  margin: 0;
  border: 0;
  padding: 0;
  width: auto;
}
nav a {
  color: #dddddd;
  text-decoration: none;
}
nav a:hover {
  background-color: #666666;
  color: #00ccff;
}
.active {
  background-color: #dddddd;
  color: #222222;
  cursor: default;
  pointer-events: none;
}
.active:hover {
  background-color: #dddddd;
  color: #222222;
}
.nav-name {
  text-align: center;
}
.onlylandscape,
.onlyportrait {
  display: none;
}
.dropdown-content {
  display: none;
}
.sidebar div,
.dropdown-button,
.dropdown-content,
.dropdown-content div {
  margin: 0;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropdownnohover,
.dropdownhover {
  display: none;
}
.dropdown:hover .dropdownhover {
  display: inline-block;
}
.hero {
  width: 100vw;
  height: auto;
  margin: 0;
  margin-top: 6vw;
  padding: 0;
  margin: 0;
  filter: brightness(50%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.landscape,
.portrait {
  display: none;
}
.hero-text {
  color: rgb(0, 255, 255);
  width: 100vw;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.hero-subtext {
  display: block;
  color: burlywood;
  text-align: center;
  height: auto;
}
.hero,
.hero-text {
  margin: 6vw 0 0 0;
  animation: mta 1s linear;
}
@keyframes mta {
  from {
    margin: 0 0 0 0;
  }
  to {
    margin: 6vw 0 0 0;
  }
}
.Main {
  color: indianred;
  margin: 6vw auto 0 auto;
  text-align: center;
  width: 85vw;
  margin: 0 auto 0 auto;
}
@media (orientation: portrait) {
  body {
    font-size: 1.618vh;
  }
  nav {
    width: 99.5vw;
    padding-right: 0;
  }
  #LogoContainer {
    height: 5vw;
    margin: 0 1vw 0 0;
  }
  .nav-name {
    font-size: 2.37684vw;
  }
  .sidebar-button {
    width: 5vw;
    height: auto;
    z-index: 1001;
  }
  .sidebar-on-button {
    display: grid;
    visibility: visible;
  }
  .sidebar {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    width: 25vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    top: 0;
    right: -25%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2.5vw);
    transition: right 0.5s linear;
    z-index: 1001;
  }
  .sideblur {
    width: 100vw;
    height: 100vh;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.5s linear;
    border: none;
    overflow: hidden;
  }
  .sideblur:hover {
    cursor: default;
  }
  .sidebar div {
    padding: 1vw 0 1vw 0;
    background-color: transparent;
  }
  .sidebarhoverable:hover {
    background-color: #c0c0c0;
  }
  .onlyportrait {
    margin: 0;
    width: 5vw;
    display: block;
    padding: 0 10vw 0 10vw;
    margin: 0 0 0 auto;
  }
  .nm {
    display: grid;
    align-items: center;
    width: 5vw;
    padding: 0 !important;
    margin: 0 !important;
  }
  .nm2 {
    display: grid;
    align-items: center;
    width: 5vw;
    padding: 0 !important;
    margin: 0.5vw 10vw 0.5vw 10vw !important;
  }
  .Main {
    font-size: 2vh;
  }
  .portrait {
    display: block;
  }
  .hero-text {
    font-size: 25vw;
  }
  .hero-subtext {
    font-size: 5vw;
    max-width: 90%;
  }
}
@media (orientation: landscape) {
  body {
    font-size: 1.618vw;
  }
  nav {
    width: 99vw;
  }
  #LogoContainer {
    height: 5vw;
    margin: 0 0.5vw 0 0;
  }
  .nav-name {
    font-size: 1.5vw;
  }
  .dropdown {
    display: grid;
    align-items: center;
    text-align: center;
  }
  .dropdown-button {
    z-index: 1;
  }
  .dropdown-content {
    top: 0;
    position: absolute;
  }
  .s1 {
    height: 4vw;
  }
  .s1:hover {
    background-color: inherit;
  }
  .dropdown,
  .dropdown-button,
  .dropdown-content {
    width: 10vw;
    height: fit-content;
    background-color: #222222;
  }
  .dropdown-content a {
    height: fit-content;
    margin: 1vw 0 1vw 0;
  }
  .navr {
    position: absolute;
    right: 0;
    margin: 0;
    margin-left: auto;
  }
  .onlylandscape {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0;
  }
  .Main {
    font-size: 3vw;
  }
  .landscape {
    display: block;
  }
  .hero-text {
    font-size: 15vw;
  }
  .hero-subtext {
    font-size: 3vw;
    max-width: 66.66%;
  }
}
