body{background-color:blue;margin:0px;border:none;padding:0px;font-size:0px;}
header{background-color:black;margin:0px;border:none;padding:0px;}
.center{display:block;text-align:center;margin:0px;border:none;padding:0px;font-size:0px;}
button {font-family:Rubik;margin:0px;padding:0px;border:none;cursor:pointer;display:inline-block;}
#LOGO {margin:0px;border:none;padding:0px;font-size:0px;}
#logo{background-repeat:no-repeat;display:inline-block;margin:0px;border:none;padding:0px;}
@media (max-width:319.99999999999999999999999999999999999999px) {#logo{background-image:url("G-PERM LOGO TOO SMALL WIDTH AND HEIGHT + PX.png");width:200px;height:200px;}}
@media (min-width:320px) and (max-width:749.99999999999999999999999999999999999999px) {#logo{background-image:url("G-PERM LOGO PHONE WIDTH AND HEIGHT + PX.png");width:320px;height:320px;}}
@media (min-width:750px) and (max-width:767.99999999999999999999999999999999999999px) {#logo{background-image:url("G-PERM LOGO LAPTOP WIDTH AND HEIGHT + PX.png");width:750px;height:750px;}} 
@media (min-width:768px) {#logo{background-image:url("G-PERM LOGO TABLET WIDTH AND HEIGHT + PX.png");width:768px;height:768px;}}
#name {font-family:Rubik;text-align:center;color:red;margin:0px;border:none;padding:0px;}
@media (max-width:319.99999999999999999999999999999999999999px) {#name{font-size:51px;margin-block-end:20px;}}
@media (min-width:320px) and (max-width:749.99999999999999999999999999999999999999px) {#name{font-size:83px;margin-block-end:32px;}}
@media (min-width:750px) and (max-width:767.99999999999999999999999999999999999999px) {#name{font-size:194px;margin-block-end:75px;}}
@media (min-width:768px) {#name{font-size:199px;margin-block-end:77px;}}
#AboutMe {color:red;font-family:Rubik;margin:0px;border:none;padding:0px;}
@media (max-width:319.99999999999999999999999999999999999999px){#AboutMe {font-size:40px;}}
@media (min-width:320px) and (max-width:749.99999999999999999999999999999999999999px){#AboutMe {font-size:65px;}}
@media (min-width:750px) and (max-width:767.99999999999999999999999999999999999999px){#AboutMe {font-size:152px;}}
@media (min-width:768px){#AboutMe {font-size:156px;}}
#OwnerPhoto {background-repeat:no-repeat;display:inline-block;margin:0px;border:none;padding:0px;}
@media (max-width:319.99999999999999999999999999999999999999px){#OwnerPhoto {background-image:url("OwnerPhoto TOO SMALL WIDTH AND HEIGHT + PX.png");width:200px;height:113px;}}
@media (min-width:320px) and (max-width:749.99999999999999999999999999999999999999px){#OwnerPhoto {background-image:url("OwnerPhoto PHONE WIDTH AND HEIGHT + PX.png");width:320px;height:180px;}}
@media (min-width:750px) and (max-width:767.99999999999999999999999999999999999999px){#OwnerPhoto {background-image:url("OwnerPhoto LAPTOP WIDTH AND HEIGHT + PX.png");width:750px;height:426px;}}
@media (min-width:768px){#OwnerPhoto {background-image:url("OwnerPhoto TABLET WIDTH AND HEIGHT + PX.png");width:768px;height:432px;}}
.INFO {background-color:green;margin:0px;border:none;padding:0px;color:red;}
#MYNAME {font-family:Rubik;margin:0px;border:none;padding:0px;}
@media (max-width:319.99999999999999999999999999999999999999px){#MYNAME {font-size:13px;}}
@media (min-width:320px) and (max-width:749.99999999999999999999999999999999999999px){#MYNAME {font-size:20px;}}
@media (min-width:750px) and (max-width:767.99999999999999999999999999999999999999px){#MYNAME {font-size:49px;}}
@media (min-width:768px){#MYNAME {font-size:50px;}}
#MYAGE {font-family:Rubik;margin:0px;border:none;padding:0px;}
@media (max-width:319.99999999999999999999999999999999999999px){#MYAGE {font-size:13px;}}
@media (min-width:320px) and (max-width:749.99999999999999999999999999999999999999px){#MYAGE {font-size:20px;}}
@media (min-width:750px) and (max-width:767.99999999999999999999999999999999999999px){#MYAGE {font-size:49px;}}
@media (min-width:768px){#MYAGE {font-size:50px;}}
#PRSINGLE {font-family:Rubik;margin:0px;border:none;padding:0px;}
@media (max-width:319.99999999999999999999999999999999999999px){#PRSINGLE {font-size:13px;}}
@media (min-width:320px) and (max-width:749.99999999999999999999999999999999999999px){#PRSINGLE {font-size:20px;}}
@media (min-width:750px) and (max-width:767.99999999999999999999999999999999999999px){#PRSINGLE {font-size:49px;}}
@media (min-width:768px){#PRSINGLE {font-size:50px;}}
#PRAO5 {font-family:Rubik;margin:0px;border:none;padding:0px;}
@media (max-width:319.99999999999999999999999999999999999999px){#PRAO5 {font-size:13px;}}
@media (min-width:320px) and (max-width:749.99999999999999999999999999999999999999px){#PRAO5 {font-size:20px;}}
@media (min-width:750px) and (max-width:767.99999999999999999999999999999999999999px){#PRAO5 {font-size:49px;}}
@media (min-width:768px){#PRAO5 {font-size:50px;}}
#PRAO12 {font-family:Rubik;margin:0px;border:none;padding:0px;}
@media (max-width:319.99999999999999999999999999999999999999px){#PRAO12 {font-size:13px;}}
@media (min-width:320px) and (max-width:749.99999999999999999999999999999999999999px){#PRAO12 {font-size:20px;}}
@media (min-width:750px) and (max-width:767.99999999999999999999999999999999999999px){#PRAO12 {font-size:49px;}}
@media (min-width:768px){#PRAO12 {font-size:50px;}}
#MOTIVATION {font-family:Rubik;margin:0px;border:none;padding:0px;}
@media (max-width:319.99999999999999999999999999999999999999px){#MOTIVATION {font-size:11px;}}
@media (min-width:320px) and (max-width:749.99999999999999999999999999999999999999px){#MOTIVATION {font-size:18px;}}
@media (min-width:750px) and (max-width:767.99999999999999999999999999999999999999px){#MOTIVATION {font-size:43px;}}
@media (min-width:768px){#MOTIVATION {font-size:44px;}}
#SIGNATURE {font-family:Rubik;margin:0px;border:none;padding:0px;}
@media (max-width:319.99999999999999999999999999999999999999px){#SIGNATURE {font-size:12px;}}
@media (min-width:320px) and (max-width:749.99999999999999999999999999999999999999px){#SIGNATURE {font-size:20px;}}
@media (min-width:750px) and (max-width:767.99999999999999999999999999999999999999px){#SIGNATURE {font-size:47px;}}
@media (min-width:768px){#SIGNATURE {font-size:48px;}}
#OwnerSignature {background-repeat:no-repeat;display:inline-block;margin:0px;border:none;padding:0px;}
@media (max-width:319.99999999999999999999999999999999999999px){#OwnerSignature {background-image:url("OwnerSignature TOO SMALL WIDTH AND HEIGHT + PX.png");width:200px;height:113px;}}
@media (min-width:320px) and (max-width:749.99999999999999999999999999999999999999px){#OwnerSignature {background-image:url("OwnerSignature PHONE WIDTH AND HEIGHT + PX.png");width:320px;height:180px;}}
@media (min-width:750px) and (max-width:767.99999999999999999999999999999999999999px){#OwnerSignature {background-image:url("OwnerSignature LAPTOP WIDTH AND HEIGHT + PX.png");width:750px;height:426px;}}
@media (min-width:768px){#OwnerSignature {background-image:url("OwnerSignature TABLET WIDTH AND HEIGHT + PX.png");width:768px;height:432px;}}
#OS {margin:0px;border:none;padding:0px;}
@media (max-width:319.99999999999999999999999999999999999999px){#OS {margin-block-end:20px;}}
@media (min-width:320px) and (max-width:749.99999999999999999999999999999999999999px){#OS {margin-block-end:32px;}}
@media (min-width:750px) and (max-width:767.99999999999999999999999999999999999999px){#OS {margin-block-end:75px;}}
@media (min-width:768px){#OS {margin-block-end:77px;}}
#R {font-family:Rubik;margin:0px;border:none;padding:0px;background-color:black;color:red;}
@media (max-width:319.99999999999999999999999999999999999999px){#R {font-size:4px;margin-block-end:20px;}}
@media (min-width:320px) and (max-width:749.99999999999999999999999999999999999999px){#R {font-size:7px;margin-block-end:32px;}}
@media (min-width:750px) and (max-width:767.99999999999999999999999999999999999999px){#R {font-size:17px;margin-block-end:75px;}}
@media (min-width:768px){#R {font-size:17px;margin-block-end:77px;}}
.CO {background-color:yellow;color:red;margin:0px;border:none;padding:0px;}
#COT {font-family:Rubik;margin:0px;border:none;padding:0px;background-color:grey;}
@media (max-width:319.99999999999999999999999999999999999999px){#COT {font-size:8px;margin-block-end:20px;}}
@media (min-width:320px) and (max-width:749.99999999999999999999999999999999999999px){#COT {font-size:13px;margin-block-end:32px;}}
@media (min-width:750px) and (max-width:767.99999999999999999999999999999999999999px){#COT {font-size:30px;margin-block-end:75px;}}
@media (min-width:768px){#COT {font-size:31px;margin-block-end:77px;}}
#IMG2 {margin:0px;border:none;padding:0px;}
@media (max-width:319.99999999999999999999999999999999999999px){#IMG2 {background-image:url("2 BY 2 TOO SMALL WIDTH AND HEIGHT + PX.png");width:200px;height:200px;}}
@media (min-width:320px) and (max-width:749.99999999999999999999999999999999999999px){#IMG2 {background-image:url("2 BY 2 PHONE WIDTH AND HEIGHT + PX.png");width:320px;height:320px;}}
@media (min-width:750px) and (max-width:767.99999999999999999999999999999999999999px){#IMG2 {background-image:url("2 BY 2 LAPTOP WIDTH AND HEIGHT + PX.png");width:750px;height:750px;}}
@media (min-width:768px){#IMG2 {background-image:url("2 BY 2 TABLET WIDTH AND HEIGHT + PX.png");width:768px;height:768px;}}
#POCKET {margin:0px;border:none;padding:0px;cursor:pointer;display:inline-block;}
@media (max-width:319.99999999999999999999999999999999999999px){#POCKET {font-size:68px;}}
@media (min-width:320px) and (max-width:749.99999999999999999999999999999999999999px){#POCKET {font-size:109px;}}
@media (min-width:750px) and (max-width:767.99999999999999999999999999999999999999px){#POCKET {font-size:256px;}}
@media (min-width:768px){#POCKET {font-size:262px;}}
#POCKE {margin:0px;border:none;padding:0px;display:inline-block;}
@media (max-width:319.99999999999999999999999999999999999999px){#POCKE {margin-block-end:20px;}}
@media (min-width:320px) and (max-width:749.99999999999999999999999999999999999999px){#POCKE {margin-block-end:32px;}}
@media (min-width:750px) and (max-width:767.99999999999999999999999999999999999999px){#POCKE {margin-block-end:75px;}}
@media (min-width:768px){#POCKE {margin-block-end:77px;}}
#IMG3 {margin:0px;border:none;padding:0px;}
@media (max-width:319.99999999999999999999999999999999999999px){#IMG3 {background-image:url("3 BY 3 TOO SMALL WIDTH AND HEIGHT + PX.png");width:200px;height:200px;}}
@media (min-width:320px) and (max-width:749.99999999999999999999999999999999999999px){#IMG3 {background-image:url("3 BY 3 PHONE WIDTH AND HEIGHT + PX.png");width:320px;height:320px;}}
@media (min-width:750px) and (max-width:767.99999999999999999999999999999999999999px){#IMG3 {background-image:url("3 BY 3 LAPTOP WIDTH AND HEIGHT + PX.png");width:750px;height:750px;}}
@media (min-width:768px){#IMG3 {background-image:url("3 BY 3 TABLET WIDTH AND HEIGHT + PX.png");width:768px;height:768px;}}
#MAGIC {margin:0px;border:none;padding:0px;cursor:pointer;display:inline-block;}
@media (max-width:319.99999999999999999999999999999999999999px){#MAGIC {font-size:67px;}}
@media (min-width:320px) and (max-width:749.99999999999999999999999999999999999999px){#MAGIC {font-size:108px;}}
@media (min-width:750px) and (max-width:767.99999999999999999999999999999999999999px){#MAGIC {font-size:253px;}}
@media (min-width:768px){#MAGIC {font-size:259px;}}
#MAGI {margin:0px;border:none;padding:0px;display:inline-block;}
@media (max-width:319.99999999999999999999999999999999999999px){#MAGI {margin-block-end:20px;}}
@media (min-width:320px) and (max-width:749.99999999999999999999999999999999999999px){#MAGI {margin-block-end:32px;}}
@media (min-width:750px) and (max-width:767.99999999999999999999999999999999999999px){#MAGI {margin-block-end:75px;}}
@media (min-width:768px){#MAGI {margin-block-end:77px;}}
#footer {color:black;background-color:white;margin:0px;border:none;padding:0px;font-family:Rubik;}
@media (max-width:319.99999999999999999999999999999999999999px){#footer {font-size:7px;margin-block-start:20px;}}
@media (min-width:320px) and (max-width:749.99999999999999999999999999999999999999px){#footer {font-size:12px;margin-block-start:32px;}}
@media (min-width:750px) and (max-width:767.99999999999999999999999999999999999999px){#footer {font-size:29px;margin-block-start:75px;}}
@media (min-width:768px){#footer {font-size:29px;margin-block-start:77px;}}